// Flex mixins
@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-center-column {
  @include flex-center;
  flex-direction: column;
}

@mixin flex-center-y {
  display: flex;
  align-items: center;
}

@mixin flex-center-x {
  display: flex;
  justify-content: center;
}

// Reset
@mixin reset-link {
  color: inherit;

  &,
  &:hover {
    text-decoration: none;
  }
}

@mixin reset-button {
  padding: 0;
  border: 0;
}

// Fonts
@mixin font-face($font-name, $path, $weight) {
  @font-face {
    font-family: quote($font-name);
    src: url($path + ".woff2") format("woff2") url($path + ".ttf") format("ttf");
    font-weight: $weight;
    font-style: normal;
  }
}

@mixin fluid-text($min, $max) {
  font-size: clamp(#{$min}px, #{calc($max / 1480 * 100)}vw, #{$max}px);
  line-height: clamp(
    #{$min + 8}px,
    #{calc(($max + 8) / 1280 * 100)}vw,
    #{$max + 8}px
  );
}

@mixin font-size-24 {
  @include fluid-text(18, 24);
}

@mixin font-size-16 {
  @include fluid-text(14, 16);
}

@mixin font-size-14 {
  @include fluid-text(12, 14);
}

@mixin font-size-12 {
  @include fluid-text(12, 12);
}

// Other
@mixin square-size($size) {
  width: $size;
  aspect-ratio: 1;
}

@mixin cover-background($url) {
  background-image: url($url);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@mixin hover() {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }

  @media (hover: none) {
    &:active {
      @content;
    }
  }
}
