@import "themes/dark";
@import "themes/light";
@import "fonts";
@import "variables";

body {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:where(ul[class]) {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

input,
textarea,
select,
button {
  font: inherit;
}

html,
:has(:target) {
  scroll-behavior: smooth;
}

fieldset {
  min-width: 0;
  border: 0;
}

svg *[fill] {
  fill: currentcolor;
}

svg *[stroke] {
  stroke: currentcolor;
}

svg * {
  transition-property: fill, stroke;
}

@media (prefers-reduced-motion: reduce) {
  * {
    scroll-behavior: auto !important;
    transition-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
  }
}

.app {
  @include font-size-16;

  min-height: 100dvh;
  font-family: var(--font-family);
  color: var(--text-primary);
  background-color: var(--bg-color);
}

.storybook {
  @include flex-center;

  position: absolute;
  top: 0;
  left: 0;

  overflow: auto;

  width: 100vw;
  height: 100vh;
  padding: 1rem;

  font-family: var(--font-family);
  color: var(--text-primary);

  background: var(--bg-color);
}
