@import "@/app/styles/mixins";

$block: ".spinner";

#{$block} {
  @include font-size-12;

  position: relative;
  transform: translateZ(0);

  width: 8em;
  height: 8em;
  margin: 50px auto;

  text-indent: -9999em;

  background: var(--white);
  background: linear-gradient(
    to right,
    var(--text-primary) 10%,
    rgb(255 255 255 / 0%) 42%
  );
  border-radius: 50%;

  animation: load3 1.4s infinite linear;

  &::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    width: 50%;
    height: 50%;

    background: var(--text-primary);
    border-radius: 100% 0 0;
  }

  &::after {
    content: "";

    position: absolute;
    inset: 0;

    width: 75%;
    height: 75%;
    margin: auto;

    background-color: var(--bg-color);
    border-radius: 50%;
  }
}

@keyframes load3 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
