@import "@/app/styles/mixins";

$block: ".button";

#{$block} {
  @include reset-button;
  @include font-size-12;

  cursor: pointer;
  font-weight: 600;
  border-radius: 0.5833em;

  &_contained {
    @include hover {
      color: var(--button-contained-hover-color);
      background-color: var(--button-contained-hover-bg);
      border: var(--button-contained-hover-border);
    }

    color: var(--button-contained-normal-color);
    background-color: var(--button-contained-normal-bg);
    border: var(--button-contained-normal-border);

    &:active {
      color: var(--button-contained-pressed-color);
      background-color: var(--button-contained-pressed-bg);
      border: var(--button-contained-pressed-border);
    }
  }

  &_outlined {
    @include hover {
      color: var(--button-outlined-hover-color);
      background-color: var(--button-outlined-hover-bg);
      border: var(--button-outlined-hover-border);
    }

    color: var(--button-outlined-normal-color);
    background-color: var(--button-outlined-normal-bg);
    border: var(--button-outlined-normal-border);

    &:active {
      color: var(--button-outlined-pressed-color);
      background-color: var(--button-outlined-pressed-bg);
      border: var(--button-outlined-pressed-border);
    }
  }

  &_light {
    @include hover {
      color: var(--button-lignt-hover-color);
    }

    color: var(--button-light-normal-color);
    background-color: var(--white);

    &:active {
      color: var(--button-light-pressed-color);
    }
  }

  &_small {
    padding: 0.5833em 2.916em;
  }

  &_large {
    padding: 0.8333em 2.5em;
  }

  &_action {
    @include flex-center;

    padding: 0;
    background-color: transparent;
    border: 0;
  }
}
