@import "@/app/styles/mixins";

$block: "button.toggle";

#{$block} {
  @include square-size(30px);

  font-weight: 600;
  color: var(--text-primary);
  border: 1px solid var(--text-primary);
  border-radius: 50%;
}
